@import url("https://fonts.googleapis.com/css2?family=Itim&family=Koulen&family=Oswald:wght@200..700&display=swap");

*{
    margin:   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}h1{
    font-size: 48px;
    font-weight: 900;
    background-color: rgb(158, 223, 156);
    color: white;
    border-radius: 30px;
    overflow: hidden;
} body{
    background-image: url("https://cdn.pixabay.com/photo/2023/01/28/11/31/mountains-7750722_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}nav ul{
    width: 50%;
    display: flex;
    justify-content:space-around;
    align-items:baseline;
    color: rgb(158, 223, 156);
    list-style: none;
}nav ul li a{
    margin: 10px;
    text-decoration: none;
    color: rgb(158, 223, 156);
    font-size: 15px;
    font-weight: 700;
}.nav ul li a:hover
        {
            background-color: rgb(158, 223, 156,0.5);
            color: white;
            font-size: 20px;
            border-radius: 10px;
        }
.form a{
    font-family: "Oswald", sans-serif;
    color: rgb(158, 223, 156);
    font-size: 30px;
    padding: 20px 20px;
    border-radius: 20px;
    font-weight: 800;
    position: absolute;
    background-color: white;
    text-decoration: none;
    font-weight: 800;
}.Login{
    text-align: center;
    background-color: rgb(158, 223, 156,0.5);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    top: 50px;
    left: 15%;
    width: 40vw;
    height: 40vh;
    border-radius: 20px;
}.Login input{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    margin-top: 20px;

}.Login input:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}.Login a{
    text-decoration: none;
    color: black;
}